@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif !important;
    font-weight: 300 !important;
    font-style: normal;
}

body{
    background-color: #141414;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++  NAVBAR DE LA PAGINA WEB  +++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.menu-nav{
    padding-top: 3rem !important;
    text-decoration: none;
    color: inherit;

    padding-right: 1rem;
}


.menu-nav i{
    font-size: 1.2rem;
    margin-right: 5px;
}



.sin-estilos{
    list-style: none;
    text-decoration: none;
    color: inherit;
    padding-left: 2px;
}

.sin-estilos:hover{
    color: darkseagreen;
    cursor: pointer;
}

.agrandar{
    font-size: 1.4rem;
}

.imagen-navbar{
    height: 3.7rem;
    width: 3.7rem;
    border-radius: .5rem;
}

.imagen-navbar-chiquito{
    height: 3.7rem;
    width: 3.7rem;
    border-radius: 1rem;
}


.arriba{
    z-index: 1000 !important;
   
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++ FIN NAVBAR DE LA PAGINA WEB  ++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/




/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++  ESTILOS PARA LOS ICONOS DE LA PAGINA  ++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.bi-person-arms-up{
    margin-right: 3px;
    font-size: .9rem;
}
.bi-person-walking{
    margin-right: 3px;
    font-size: .9rem;
}
.fa-dumbbell{
    margin-right: 3px;
    font-size: .7rem;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++ FIN ESTILOS PARA LOS ICONOS DE LA PAGINA  +++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/





/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++  ESTILOS PARA EL CARRUSEL PRINCIPAL   +++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.carousel-inner{
    max-height: 36rem !important; 
}

@media (max-width: 991px){
    
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++  FINAL ESTILOS PARA LOS ICONOS DE LA PAGINA  ++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/






/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++  ESTILOS PARA EL VIDEOS DE LA PAGINA  +++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.bordesPara-video{
    margin-top: 1.3rem ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bordesPara-video p{
    font-size: 1.5rem;
    text-align: left;
    padding-left: 1.5rem;
}




@media (min-width: 993px){
    .texto-video2-pequeño{
        display: none;
    }
}


@media (max-width: 992px){
    .bordesPara-video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .bordesPara-video p{
        font-size: 1.2rem;
        text-align: center;
    }

    .video1{
        width: 100% !important;
        height: 100% !important;
    }

    .texto-video2{
        display: none;
    }

    .texto-video2-pequeño{
        display: visible;
    }
}


